<table width="700" height="298" border="0" align="center">
<tbody>
<tr align="center" valign="middle" bgcolor="#99CCFF">
<td width="34%" height="30">
<p align="center" class="Headers">
<font face="Geneva, Arial, Helvetica, sans-serif">
<strong>Caguas</strong>
</font>
</p>
</td>
<td width="50%">
<div align="center"/>
</td>
<td width="16%">
<div align="center"/>
</td>
</tr>
<tr align="center" valign="middle" bgcolor="#99CCFF" class="mybody">
<td height="40">
<font color="#000000">La Hacienda Market and Café</font>
</td>
<td height="40">Urbanizacion Hacienda San Jose, Edificio de Administracion, Carretara 152</td>
<td height="40">
<font color="#000000">
<a href="http://maps.google.com/maps?f=q&hl=en&geocode=&q=18.241274,-66.066772&ie=UTF8&t=h&z=17" target="_blank">
</font>
</td>
</tr>
<tr align="center" valign="middle" bgcolor="#99CCFF" class="mybody">
<td height="40">24 Express Degetau</td>
<td height="40">Calle Degetau A-19 Urb. San Alfonso, Caguas </td>
<td height="40">
<font color="#000000">
<a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=18.223602,-66.042831&sll=18.223662,-66.042839&sspn=0.001269,0.002411&ie=UTF8&t=h&z=16" target="_blank">
<font color="#0000FF">Mapa</font>
</a>
</font>
</td>
</tr>
<tr align="center" valign="middle" bgcolor="#FFFFFF" class="Main">
<td height="30"> </td>
<td height="30"> </td>
<td height="30"> </td>
</tr>
<tr align="center" valign="middle" bgcolor="#99CCFF">
<td height="30">
<p align="center" class="Headers">
<font face="Geneva, Arial, Helvetica, sans-serif">
<strong>
</font>
</p>
</td>
<td>
<div align="center"/>
</td>
<td>
<div align="center"/>
</td>
</tr>
<tr align="center" valign="middle" bgcolor="#99CCFF" class="mybody">
<td height="40">
<font color="#000000">Estación Toral</font>
</td>
<td height="40">
<font color="#000000">Carretera 189, km 0.4, Barrio Navarro</font>
</td>
<td height="40">
<font color="#000000">
<a href="http://maps.google.com/maps?f=l&hl=en&geocode=&q=cinebank&near=&sll=18.400139,-66.100616&sspn=0.289609,0.409241&ie=UTF8&ll=18.245788,-66.00212&spn=0.004529,0.006394&t=h&z=18&iwloc=D" target="_blank">
<font color="#0000FF">Mapa</font>
</a>
</font>
</td>
</tr>
<tr align="center" valign="middle" bgcolor="#99CCFF" class="mybody">
<td height="40">
<font color="#000000">Estación Total</font>
</td>
<td height="40">
<font color="#000000">Carretera 181</font>
</td>
<td height="40">
<font color="#000000">
<a href="http://maps.google.com/maps?f=d&hl=en&geocode=&saddr=18.250322,-65.970926&daddr=&mra=mi&mrsp=0&sz=16&sll=18.251178,-65.968781&sspn=0.012696,0.022144&ie=UTF8&t=h&z=16" target="_blank">
<font color="#0000FF">Mapa</font>
</a>
</font>
</td>
</tr>
<tr align="center" valign="middle" bgcolor="#FFFFFF" class="Main">
<td height="30"> </td>
<td height="30"> </td>
<td height="30"> </td>
</tr>
</tbody>
</table>
