<table>
<TD height="325" bgcolor="#C6E2FF">

<table width="879" border="0" align="center">
  <tr>
    <td width="285" height="313">
      <div align="center">
        <a href="/estrenos">
          <img src="/home/busca.gif" width="271" height="271" border="0">
        </a>
      </div>
    </td>
    <td width="285">
      <div align="center">
        <a href="/nuestros_kioscos/index">
          <img src="/home/busca.gif" width="271" height="271" border="0">
        </a>
      </div>
    </td>
    <td width="285">
      <div align="center">
        <a href="/nuestros_kioscos/index">
          <img src="/home/busca.gif" width="271" height="271" border="0">
        </a>
      </div>
    </td>
  </tr>
</table>

</td>
</table>
