<p>Planes de membresia</p>

<table border="0" align="center">

<tr> 
<td width="758" height="782" align="center"><div align="left"> 
  <table border="0">
    <tr valign="middle" bgcolor="#FDF19B"> 
      <td width="195"><p>&nbsp;</p></td>
      <td width="210" valign="top" class="Bottom"><div align="center"> 
          <p class="inmystore"><font color="#333399"><strong>No 
            Miembros</strong></font></p>
        </div></td>
      <td width="140" valign="top" class="Bottom"><div align="center"> 
          <p><strong><font color="#333399">Plata</font></strong></p>

          <p class="unnamed1"><strong><font color="#333399">(Sin 
            Costo)</font></strong></p>
        </div></td>
      <td width="140" valign="top" class="Bottom"><div align="center"> 
          <p><strong><font color="#333399">Oro</font></strong></p>
          <p class="unnamed1"><strong><font color="#333399">(Pre-Pagado)</font></strong></p>
        </div></td>
      <td width="143" valign="top" class="Bottom"><p align="center"><strong><font color="#333399">Platino</font></strong></p>

        <p align="center" class="unnamed1"><strong><font color="#333399">(Todo 
          lo que pueda alquilar)</font></strong></p></td>
    </tr>
    <tr valign="middle" bgcolor="#FCF9CF"> 
      <td class="Tablebig"><font color="#333399"><strong><font color="#FF0000">Nuestra 
        recomendación</font></strong></font></td>
      <td bgcolor="#FCF9CF" class="Tablebig"><div align="center"> 
          <p><font color="#FF0000"></font></p>
        </div></td>
      <td align="center" valign="top" class="Tablebig"><p align="center" class="mybody"><strong><font color="#FF0000">Plan 
          Más Popular </font></strong></p>

        <p align="center" class="mybody"><span class="unnamed1"><strong><font color="#FF0000">(Para 
          clientes que no rentan muchas películas)</font></strong></span></p></td>
      <td align="center" valign="top" class="Tablebig"><p align="center" class="mybody"><strong><font color="#FF0000">Mas 
          Valor Para el Cliente</font></strong></p>
        <p align="center" class="unnamed1"><font color="#FF0000">(Para 
          clientes que rentan muchas películas y que las 
          devuelven a tiempo) </font></p></td>
      <td align="center" valign="top" class="Tablebig"> 
        <p align="center"><span class="mybody"><font color="#FF0000"><strong>Mas 
          Valor Para el Cliente</strong></font></span></p>
        <p align="center" class="unnamed1"><font color="#FF0000">(Para 
          clientes que rentan muchas películas y que no las 
          devuelven a tiempo) </font></p></td>
    </tr>

    <tr valign="middle" bgcolor="#FDF19B"> 
      <td height="17" class="Tablebig"><font color="#333399"><strong>Alquiler 
        (24 horas) </strong></font></td>
      <td class="Tablebig"><div align="center">
          <p>DVD $1.25/$1.50*</p>
          <p>Blu-Ray $2.00</p>
        </div></td>
      <td class="Tablebig"><div align="center">
          <p>DVD $1.25/$1.50*</p>

          <p>Blu-Ray $2.00</p>
        </div></td>
      <td class="Tablebig"><div align="center">
          <p>DVD $1.25/$1.50*</p>
          <p>Blu-Ray $2.00</p>
        </div></td>
      <td class="Tablebig"><div align="center">N/A</div></td>

    </tr>
    <tr valign="middle" bgcolor="#FCF9CF"> 
      <td height="17" class="Tablebig"><font color="#333399"><strong>Alquiler 
        (24 horas adicionales)</strong></font></td>
      <td class="Tablebig"><div align="center">
          <p>DVD $1.25/$1.50*</p>
          <p>Blu-Ray $2.00</p>
        </div></td>
      <td class="Tablebig"><div align="center">

          <p>DVD $1.25/$1.50*</p>
          <p>Blu-Ray $2.00</p>
        </div></td>
      <td class="Tablebig"><div align="center">
          <p>DVD $1.25/$1.50*</p>
          <p>Blu-Ray $2.00</p>
        </div></td>

      <td class="Tablebig"><div align="center">N/A</div></td>
    </tr>
    <tr valign="middle" bgcolor="#FDF19B"> 
      <td height="17" class="Tablebig"><font color="#333399"><strong>Depósitos 
        Pre-Pagado disponibles</strong></font></td>
      <td class="Tablebig"><div align="center">N/A</div></td>
      <td class="Tablebig"><div align="center">N/A</div></td>
      <td class="Tablebig"><div align="center">$10, $20 
          o $30</div></td>

      <td class="Tablebig"><div align="center">N/A</div></td>
    </tr>
    <tr valign="middle" bgcolor="#FCF9CF"> 
      <td height="17" class="Tablebig"><font color="#333399"><strong>Costo 
        de membresía al mes</strong></font></td>
      <td class="Tablebig"><div align="center">N/A</div></td>
      <td class="Tablebig"><div align="center">N/A</div></td>
      <td class="Tablebig"><div align="center">N/A</div></td>

      <td class="Tablebig"><div align="center">$19.99</div></td>
    </tr>
    <tr valign="middle" bgcolor="#FDF19B"> 
      <td height="32" class="Tablebig"><strong><font color="#333399">Numero 
        de películas que pueden ser rentadas a la vez</font></strong></td>
      <td class="Tablebig"><div align="center">4</div></td>
      <td class="Tablebig"><div align="center">6</div></td>
      <td class="Tablebig"><div align="center">6</div></td>

      <td class="Tablebig"><div align="center">2</div></td>
    </tr>
    <tr valign="middle"> 
      <td height="66" bgcolor="#FCF9CF" class="Tablebig"><p align="left"><font color="#333399"><strong>Reciba 
          una confirmación por cada alquiler y devolución 
          por medio de su correo electrónico</strong></font></p></td>
      <td valign="top" bgcolor="#FCF9CF" class="Tablebig"><div align="center"> 
          <p>Sí</p>
          <p>( Tiene que entrar el correo electrónico 
            cada vez que alquila un DVD)</p>
        </div></td>

      <td valign="top" bgcolor="#FCF9CF" class="Tablebig"><div align="center" class="Tablebig"> 
          <p>Sí</p>
          <p>(Solo tiene que entrar el correo electrónico 
            cuando se registra)</p>
        </div></td>
      <td valign="top" bgcolor="#FCF9CF" class="Tablebig"><div align="center"> 
          <p>Sí</p>
          <p>(Solo tiene que entrar el correo electrónico 
            cuando se registra)</p>
        </div></td>

      <td valign="top" bgcolor="#FCF9CF" class="Tablebig"><div align="center"> 
          <p>Sí</p>
          <p>(Solo tiene que entrar el correo electrónico 
            cuando se registra)</p>
        </div></td>
    </tr>
    <tr valign="middle"> 
      <td height="47" bgcolor="#FDF19B" class="Tablebig"><p align="left"><font color="#333399"><strong>Reserve 
          DVD’s por medio de nuestro sitio de Internet 
          www.cinebank.pr</strong></font></p></td>
      <td bgcolor="#FDF19B" class="Tablebig"><div align="center">No</div></td>

      <td bgcolor="#FDF19B" class="Tablebig"><div align="center">Sí</div></td>
      <td bgcolor="#FDF19B" class="Tablebig"><div align="center">Sí</div></td>
      <td bgcolor="#FDF19B" class="Tablebig"><div align="center">Sí</div></td>
    </tr>
    <tr valign="middle"> 
      <td height="47" bgcolor="#FCF9CF" class="Tablebig"><p align="left"><font color="#333399"><strong>Reciba 
          5 puntos(millas) por cada alquiler, utilice 
          estos puntos(millas) para alquileres gratis 
          o con descuentos</strong></font></p></td>
      <td bgcolor="#FCF9CF" class="Tablebig"><div align="center">No</div></td>

      <td bgcolor="#FCF9CF" class="Tablebig"><div align="center">Sí</div></td>
      <td bgcolor="#FCF9CF" class="Tablebig"><div align="center">Sí</div></td>
      <td bgcolor="#FCF9CF" class="Tablebig"><div align="center"> 
          <p>N/A</p>
        </div></td>
    </tr>
    <tr valign="middle"> 
      <td height="47" bgcolor="#FDF19B" class="Tablebig"><p align="left"><font color="#333399"><strong>CineBank 
          depositara en su cuenta de membresía $1.00 por 
          cada $10.00 que deposite en su cuenta</strong></font></p></td>

      <td bgcolor="#FDF19B" class="Tablebig"><div align="center">No</div></td>
      <td bgcolor="#FDF19B" class="Tablebig"><div align="center">No</div></td>
      <td bgcolor="#FDF19B" class="Tablebig"><div align="center">Sí</div></td>
      <td bgcolor="#FDF19B" class="Tablebig"><div align="center">N/A</div></td>
    </tr>
    <tr valign="middle"> 
      <td height="32" bgcolor="#FCF9CF" class="Tablebig"><p align="left"><font color="#333399"><strong>Alquile 
          todos los DVD’s que quiera, 2 DVD's a la vez</strong></font></p></td>

      <td bgcolor="#FCF9CF" class="Tablebig"><div align="center">No</div></td>
      <td bgcolor="#FCF9CF" class="Tablebig"><div align="center">No</div></td>
      <td bgcolor="#FCF9CF" class="Tablebig"><div align="center">No</div></td>
      <td bgcolor="#FCF9CF" class="Tablebig"><div align="center">Sí</div></td>
    </tr>
    <tr valign="middle" bgcolor="#FDF19B"> 
      <td height="62" class="Tablebig"><font color="#333399"><strong>CineBank 
        le cobra automáticamente a la tarjeta de crédito/debito 
        o a su cuenta de cheques</strong></font></td>

      <td valign="middle" class="Tablebig"><div align="center"> 
          <p>Sí</p>
        </div></td>
      <td valign="middle" class="Tablebig"><div align="center">Sí</div></td>
      <td valign="middle" class="Tablebig"><div align="center">Sí</div></td>
      <td valign="middle" class="Tablebig"><div align="center">Sí</div></td>
    </tr>

    <tr valign="middle" bgcolor="#FCF9CF"> 
      <td height="47" class="Tablebig"><font color="#333399"><strong>Cargo 
        por DVD no devuelto</strong></font></td>
      <td colspan="4" class="Tablebig"><p> Un máximo de 
          $30.00 para DVD's y $35.00 para Blu-Ray, será 
          cargado a su tarjeta de crédito/debito o a su 
          cuenta de cheques. (Este cargo no aplica a alquileres 
          de miembros Platino, a menos que el miembro 
          cancele su membresía y todavía tenga DVD’s por 
          devolver después que el periodo de membresía 
          acabe.)</p></td>
    </tr>
    <tr valign="middle" bgcolor="#FDF19B"> 
      <td height="59" valign="top" class="Tablebig">&nbsp;</td>
      <td class="Tablebig">&nbsp;</td>
      <td colspan="3" valign="middle" nowrap class="Tablebig"><div align="center"> 
          <p class="signup"><a href="https://secure.dvmatic.com/usermemberjoin.asp?ownerno=12">Inscribete!</a> 
            <span class="unnamed1">(Tarjetas de credito 
            y debito)</span></p>

        </div></td>
    </tr>
  </table>
  <font size="-1" face="Arial, Helvetica, sans-serif">*Hacienda San 
  Jose Cafe</font></div></td>
</tr>
</table>

