                          <tr>
                            <td valign="top">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td><b><font color="#FF7D10" size="+2">CONTACT US</font></b></td>
                                  <td width="430">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td valign="bottom"><img src="/general/linea.gif" width="430" height="10"></td>
                                      </tr>
                                      <tr align="right" valign="top">
                                        <td colspan="2"><i><font size="2" color="#A6A3A6"></font></i></td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td align="center" height="15"></td>
                          </tr>                          
                          <!--???? ???? ????------------------------------------------------------------------->
                          
						  <tr>
						  	<td>                                
			  					<table width="100%" border="0" cellspacing="2" cellpadding="2" bgcolor="#FF9900">
			  						<tr>
			  							<td bgcolor="#FDEDDE">
			  								<table border="0" cellspacing="0" cellpadding="0" bgcolor="#FDEDDE" >			  									
			  									<tr style="padding:20 20 20 20">
			  										<td colspan=2>
			  										
 
<!-- ???? ????À?------------------------------>
<style>P {margin-top:1px;margin-bottom:1px;}</style>
<div id=div_content height=100% style=position:relative;height:100%;padding: 5 5 2 5;>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt"><B><SPAN style="FONT-SIZE: 16pt; mso-bidi-font-size: 12.0pt"><FONT face="Times New Roman">Contact US:<?xml:namespace prefix = o ns = "urn:schemas-microsoft-com:office:office" /><o:p></o:p></FONT></SPAN></B></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt"><o:p><FONT face="Times New Roman" size=3>&nbsp;</FONT></o:p></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt"><FONT face="Times New Roman" size=3>Our customers can contact our Customer Service Department in three different ways:</FONT></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt"><o:p><FONT face="Times New Roman" size=3>&nbsp;</FONT></o:p></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt"><B><FONT size=3><FONT face="Times New Roman">By Mail:<o:p></o:p></FONT></FONT></B></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt"><o:p><FONT face="Times New Roman" size=3>&nbsp;</FONT></o:p></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt"><FONT face="Times New Roman" size=3>CineBank Corp.</FONT></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt"><FONT face="Times New Roman" size=3>PO Box 11920</FONT></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt"><FONT face="Times New Roman" size=3>San Juan, PR 00922</FONT></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt"><o:p><FONT face="Times New Roman" size=3>&nbsp;</FONT></o:p></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt"><B><FONT size=3><FONT face="Times New Roman">By Phone:<o:p></o:p></FONT></FONT></B></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt"><o:p><FONT face="Times New Roman" size=3>&nbsp;</FONT></o:p></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt"><FONT face="Times New Roman" size=3>1-866-584-9019 (Toll Free number in Puerto Rico US and Canada)</FONT></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt"><o:p><FONT face="Times New Roman" size=3>&nbsp;</FONT></o:p></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt"><FONT face="Times New Roman" size=3>Rental and Return issues from 8:00 AM to 11:00 PM (Monday-Sunday)</FONT></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt"><o:p><FONT face="Times New Roman" size=3>&nbsp;</FONT></o:p></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt"><FONT size=3><FONT face="Times New Roman">Claims, Complaints, Questions, or any other issue from 8:00 AM to 5:00 PM (Monday-Friday)<B><o:p></o:p></B></FONT></FONT></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt"><o:p><FONT face="Times New Roman" size=3>&nbsp;</FONT></o:p></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt"><B><FONT size=3><FONT face="Times New Roman">By Email:<o:p></o:p></FONT></FONT></B></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt"><o:p><FONT face="Times New Roman" size=3>&nbsp;</FONT></o:p></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt"><FONT face="Times New Roman" size=3>Write us at:</FONT></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt"><o:p><FONT face="Times New Roman" size=3>&nbsp;</FONT></o:p></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt"><A href="mailto:support@cinebank.pr"><FONT face="Times New Roman" size=3>support@cinebank.pr</FONT></A></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt"><A href="mailto:ayuda@cinebank.pr"><FONT face="Times New Roman" size=3>ayuda@cinebank.pr</FONT></A></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt"><o:p><FONT face="Times New Roman" size=3>&nbsp;</FONT></o:p></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt"><o:p><FONT face="Times New Roman" size=3>&nbsp;</FONT></o:p></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt"><FONT face="Times New Roman" size=3>We strongly recommend that you send claims, complaints and any questions to one of the emails above. We try to resolve all issues within 3 working days of receipt of the email. </FONT></P>
</div>
<!-- ???? ????? -------------------------------->
