                          <tr>
                            <td height="30"></td>
                          </tr>
                          <tr>
                            <td valign="top">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td><b><font color="#FF7D10" size="+2">PRIVACY POLICY</font></b></td>
                                  <td width="430">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td valign="bottom"><img src="/general/linea.gif" width="430" height="10"></td>
                                      </tr>
                                      <tr align="right" valign="top">
                                        <td colspan="2"><i><font size="2" color="#A6A3A6"></font></i></td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td align="center" height="15"></td>
                          </tr>
						  <!--???? ???? ????------------------------------------------------------------------->
                          
						  <tr>
						  	<td>                                
			  					<table width="100%" border="0" cellspacing="2" cellpadding="2" bgcolor="#FF9900">
			  						<tr>
			  							<td bgcolor="#FDEDDE">
			  								<table border="0" cellspacing="0" cellpadding="0" bgcolor="#FDEDDE" >			  									
			  									<tr style="padding:20 20 20 20">
			  										<td colspan=2>
			  										
 
<!-- ???? ????À?------------------------------>
<style>P {margin-top:1px;margin-bottom:1px;}</style>
<div id=div_content height=100% style=position:relative;height:100%;padding: 5 5 2 5;>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><B><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">PRIVACY POLICY<?xml:namespace prefix = o ns = "urn:schemas-microsoft-com:office:office" /><o:p></o:p></SPAN></B></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><B><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial"><o:p>&nbsp;</o:p></SPAN></B></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><B><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">Our Commitment to Privacy<o:p></o:p></SPAN></B></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">Our Privacy Policy was developed as an extension of our commitment to combine quality products and services with integrity in dealing with our users. The Policy is designed to assist you in understanding how we collect, use and safeguard the personal information you provide to us and to assist you in making informed decisions when using our site and our products and services.<o:p></o:p></SPAN></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><B><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial"><o:p>&nbsp;</o:p></SPAN></B></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><B><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">What Information Do We Collect?<o:p></o:p></SPAN></B></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">When you visit our site you may provide us with two types of information: personal information you actively choose to disclose (Active Information) and use information collected, in a way not visible to you, on an aggregate anonymous basis as you and others browse our site (Passive Information).<o:p></o:p></SPAN></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><B><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial"><o:p>&nbsp;</o:p></SPAN></B></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><B><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">No Use of Our Site by Persons Under 13<o:p></o:p></SPAN></B></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><I><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">No person under 13 should disclose information on this site. </SPAN></I><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">You may learn more about protecting childrens privacy online by visiting www.ftc.gov/kidzprivacy.<o:p></o:p></SPAN></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><B><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial"><o:p>&nbsp;</o:p></SPAN></B></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><B><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">Active Information You Choose to Provide<o:p></o:p></SPAN></B></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">In order to gain full use of the site (become a user), we require you to disclose the following information:<o:p></o:p></SPAN></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial"><o:p>&nbsp;</o:p></SPAN></P>
<UL style="MARGIN-TOP: 0in" type=disc>
<LI class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none; mso-list: l0 level1 lfo1; tab-stops: list .5in"><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">User ID<o:p></o:p></SPAN> 
<LI class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none; mso-list: l0 level1 lfo1; tab-stops: list .5in"><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">Pasword<o:p></o:p></SPAN> 
<LI class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none; mso-list: l0 level1 lfo1; tab-stops: list .5in"><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">First Name<o:p></o:p></SPAN> 
<LI class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none; mso-list: l0 level1 lfo1; tab-stops: list .5in"><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">Last Name<o:p></o:p></SPAN> 
<LI class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none; mso-list: l0 level1 lfo1; tab-stops: list .5in"><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">Birthday<o:p></o:p></SPAN> 
<LI class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none; mso-list: l0 level1 lfo1; tab-stops: list .5in"><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">Choice to receive or not event mail<o:p></o:p></SPAN> 
<LI class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none; mso-list: l0 level1 lfo1; tab-stops: list .5in"><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">Address<o:p></o:p></SPAN> 
<LI class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none; mso-list: l0 level1 lfo1; tab-stops: list .5in"><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">Telephone<o:p></o:p></SPAN> 
<LI class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none; mso-list: l0 level1 lfo1; tab-stops: list .5in"><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">Credit Card number<o:p></o:p></SPAN> 
<LI class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none; mso-list: l0 level1 lfo1; tab-stops: list .5in"><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">Card Type<o:p></o:p></SPAN> 
<LI class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none; mso-list: l0 level1 lfo1; tab-stops: list .5in"><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">Expiration Date<o:p></o:p></SPAN> 
<LI class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none; mso-list: l0 level1 lfo1; tab-stops: list .5in"><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">Membership Type<o:p></o:p></SPAN></LI></UL>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial"><o:p>&nbsp;</o:p></SPAN></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><B><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">Passive Information Collected<o:p></o:p></SPAN></B></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">Our site utilizes a standard technology called cookies to collect information about how our site is used. Passive Information gathered may include the date and time of visits, the site pages viewed, time spent at our site, the sites visited just before and just after our site. Passive Information is collected on an aggregate basis without any association to your personal information so that you remain anonymous. If you do not wish to transmit cookie information about yourself, you may turn off the cookie function in your web browser; please consult the Help section of your browser to correctly do so.<o:p></o:p></SPAN></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><B><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial"><o:p>&nbsp;</o:p></SPAN></B></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><B><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">What is a Cookie?<o:p></o:p></SPAN></B></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">Cookies are a feature of web browser (Internet Explorer, Netscape Navigator, etc.) software that<o:p></o:p></SPAN></P>
<P class=MsoBodyText style="MARGIN: 0in 0in 0pt"><FONT face=Arial size=2>allows web servers to recognize the computer used to access a site. They are small pieces of data that are stored by a users web browser on one site to simplify subsequent interactions with that site by the same user or to use the information to streamline the users transaction on related web pages. This makes it easier for a user to move from site to site and to complete transactions over the Internet. Cookies should make your online experience easier and more personalized.</FONT></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><B><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial"><o:p>&nbsp;</o:p></SPAN></B></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><B><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">How Do We Use the Information Collected?<o:p></o:p></SPAN></B></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">Broadly speaking, persons we employ directly, or as contractors or agents at our direction, use Active Information for purposes of administering our business activities, also on an optional basis we gather email addresses in order to better serve our customers by updating them on the latest releases or other relevant information. CINEBANK, Corp. will not share personal information collected from this site with outside third parties.<B><o:p></o:p></B></SPAN></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><B><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial"><o:p>&nbsp;</o:p></SPAN></B></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><STRONG><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">WEBSITE SECURITY</SPAN></STRONG><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial"><BR>CINEBANK, Corp. takes great care to protect the security of information transmitted on this website. When personal information like credit cards is transmitted over this site, CINEBANK, Corp. servers use encryption software.<B><o:p></o:p></B></SPAN></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><B><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial"><o:p>&nbsp;</o:p></SPAN></B></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><STRONG><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">LINKS TO OTHER WEBSITES</SPAN></STRONG><B><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial"><BR></SPAN></B><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">This website may contain links to other websites that may or may not have privacy policies similar to CINEBANK, Corp. Cinebank, Corp. does not take any responsibility for the privacy policy of other websites or the personal information that they may collect.<B><o:p></o:p></B></SPAN></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><B><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial"><o:p>&nbsp;</o:p></SPAN></B></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><B><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">How Can You Choose Not to Receive Information About Products or Services By Us or to Correct, Delete or Access Your Information<o:p></o:p></SPAN></B></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">If you desire not to receive information about products or services we think may be of interest to you please send us an email to <A href="mailto:privacypolicy@cinebank.pr"><FONT color=#0028e7>privacypolicy@cinebank.pr</FONT></A>. If you wish to access, delete or correct your information, please log on to the My Account page on the <A href="http://www.cinebank.pr/"><FONT color=#0028e7>www.cinebank.pr</FONT></A> website.<o:p></o:p></SPAN></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial"><o:p>&nbsp;</o:p></SPAN></P>
<P class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-layout-grid-align: none"><I><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">We reserve the right to revise this policy at our discretion. Please check back on this site as this policy may be revised from time to time without notice to you.</SPAN></I><SPAN style="FONT-FAMILY: Arial"><o:p></o:p></SPAN></P>
</div>
<!-- ???? ????? -------------------------------->
 
