                            <td height="30"></td>
                          </tr>
                          <tr>
                            <td valign="top">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td><b><font color="#FF7D10" size="+2">ABOUT US</font></b></td>
                                  <td width="430">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td valign="bottom"><img src="/general/linea.gif" width="430" height="10"></td>
                                      </tr>
                                      <tr align="right" valign="top">
                                        <td colspan="2"><i><font size="2" color="#A6A3A6"></font></i></td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td align="center" height="15">                            
                            </td>
                          </tr>
                          <!--???? ???? ????------------------------------------------------------------------->
                          
						  <tr>
						  	<td>                                
			  					<table width="100%" border="0" cellspacing="2" cellpadding="2" bgcolor="#FF9900">
			  						<tr>
			  							<td bgcolor="#FDEDDE">
			  								<table border="0" cellspacing="0" cellpadding="0" bgcolor="#FDEDDE" >			  									
			  									<tr style="padding:20 20 20 20">
			  										<td colspan=2>
			  										
 
<!-- ???? ????À?------------------------------>
<style>P {margin-top:1px;margin-bottom:1px;}</style>
<div id=div_content height=100% style=position:relative;height:100%;padding: 5 5 2 5;>
<P><B><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">About Us</SPAN></B><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial"><?xml:namespace prefix = o ns = "urn:schemas-microsoft-com:office:office" /><o:p></o:p></SPAN></P>
<P><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">CINEBANK is a DVD and Game rental business that offers its DVD rental service through a distributed network of Automatic Movie/Game Rental Machines.<o:p></o:p></SPAN></P>
<P><STRONG><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">Customers are able to:</SPAN></STRONG><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial"><o:p></o:p></SPAN></P>
<UL type=disc>
<LI class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-list: l0 level1 lfo1; tab-stops: list .5in"><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">Rent Movies and Games <U>quicker</U> than at the conventional video store.<o:p></o:p></SPAN></LI>
<LI class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-list: l0 level1 lfo1; tab-stops: list .5in"><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">Rent Movies and Games at a <U>lower price</U>&nbsp;than at the conventional video store.<o:p></o:p></SPAN></LI>
<LI class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-list: l0 level1 lfo1; tab-stops: list .5in"><U><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">Reserve</SPAN></U><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial"> online so that when they reach the CINEBANK kiosk or store the movie/game is there waiting for them.<o:p></o:p></SPAN></LI>
<LI class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-list: l0 level1 lfo1; tab-stops: list .5in"><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">Rent Movies and Games at a location that is <U>closer to home</U> or in a place where the customer must visit to purchase other items.<o:p></o:p></SPAN></LI>
<LI class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-list: l0 level1 lfo1; tab-stops: list .5in"><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">Rent Movies and Games <U>24 hours</U> a day <U>365 days</U> a year.<o:p></o:p></SPAN></LI>
<LI class=MsoNormal style="MARGIN: 0in 0in 0pt; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-list: l0 level1 lfo1; tab-stops: list .5in"><U><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">No membership</SPAN></U><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial"> required to rent.<o:p></o:p></SPAN></LI></UL>
<P><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">CINEBANK is dedicated to providing customers with a reliable, convenient and&nbsp;easy to use method of renting new release movies and video games at the lowest price.We wish to establish a successful relationship with our customers that respects the interests and goals of each party.<o:p></o:p></SPAN></P>
<P><SPAN style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; mso-bidi-font-size: 12.0pt">Our success is measured by our customers choice of selecting us because of their belief in our ability to meet or exceed their expectations of price, service, and selection. <o:p></o:p></SPAN></P>
</div>
<!-- ???? ????? -------------------------------->
 
 
			  										</td>
		
