<img src="/tutorial/como_funciona.png"/>
<div style="position:absolute; top:30px; left:100px; width:200px; height:200px; visibility:visible z-index:1">
  <img src="laso.gif" border=0>
</div>


<div style="position:absolute; top:30px; left:100px; visibility:visible z-index:2">
<img src="/tutorial/paso1.gif"/>
<img src="/tutorial/paso2.gif"/>
<img src="/tutorial/paso3.gif"/>
<img src="/tutorial/paso4.gif"/>
</div>
