<img src="/tutorial/como_funciona.png" />
<table width="65" border="0" align="center" background="/tutorial/laso.gif">
  <tr>
    <td>
      <table width="700" height="550" border="0" align="center">
        <tr> 
          <td width="350" height="275" align="center" valign="middle">
            <a href="Seleccione_un_titulo.htm"><img src="/tutorial/paso1.gif" width="350" height="275" border="0"></a>
          </td>
          <td width="350" height="275"><a href="Pase%20su%20tarjeta.htm"><img src="/tutorial/paso2.gif" width="350" height="275" border="0"></a>
          </td>
        </tr>
        <tr> 
          <td width="350" height="275">
            <a href="Devolever_DVD.htm"><img src="/tutorial/paso3.gif" width="350" height="275" border="0"></a>
          </td>
          <td width="350" height="275">
            <a href="Coger_DVD.htm"><img src="/tutorial/paso4.gif" width="350" height="275" border="0"></a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
