<table width="700" height="252" border="0" align="center">
  <tr>
    <td width="350" height="277" rowspan="2" align="center" valign="top"><img src="/tutorial/paso1.gif" width="350" height="275"/>
    <td height="194" colspan="2" valign="middle" class="boldedsmallheaders">
      <p class="Dates">
        <font color="333399">
          <strong>
            Seleccionar un Título y Finalizar Pedido
          </strong>
        </font>
      </p>
      <p>
        <font color="333399">
          Usted puede visitar cualquiera de nuestros kioscos CienBank y seleccionar Título(s).
        </font>
      </p>
      <p>
        <font color="333399">
          Para alquilar un DVD solo tiene que tocar el titulo y despues tocar el boton de alquilar. El Título sera añadido a su carrito y usted podra seguir seleccionando mas Títulos. Cuando este listo para terminar solo presione el boton de &quot;Finalizar Pedido&quot;.
        </font>
      </p>
    </td>
  </tr>
  <tr>
    <td width="176" valign="middle" class="boldedsmallheaders">
      <div align="center">
        <a href="/tutorial/paso2">
          <img src="/tutorial/siguiente.gif" width="150" height="30" border="0">
        </a>
      </div>
    </td>
  </tr>
</table>
