<table width=882 height="40" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
    <th height="40" align="center" nowrap background="/general/barra.gif" class="Headers"><font color="#FFFFFF" face="Arial, Helvetica, sans-serif"><fondo>Cómo funciona</fondo></font></th>
  </tr>
</table>
<table width="700" height="252" border="0" align="center">
  <tr>
    <td width="350" height="277" rowspan="2" align="center" valign="top"><img src="/tutorial/paso4.gif" width="350" height="275"/>
    <td height="239" colspan="2" valign="middle" class="boldedsmallheaders"> 
      <p>
        <font color="333399">Cuando usted este listo para devolver el dvd que usted alquilo, coloquelo dentro de la caja del DVD. Asegurese que la caja esta bien cerrada y llevelo al Kiosco CineBank en donde lo alquiló.
        </font>
      </p>
      <p>
        <font color="333399">Toque el botón Devolver y despues introduzca el DVD con la flecha apuntando en dirección al Kiosco. Cuando la puerta abra, empuje el DVD cuidadosamente por el hueco.
        </font>
      </p>
      <p>
        <font color="333399">Si usted tiene DVD's adicionales, espere a que el botón Devolver Mas este disponible. Toqueloey repita los pasos anteriores.
        </font>
      </p>
    </td>
  </tr>
  <tr>
    <td width="160" height="24" valign="middle" class="boldedsmallheaders">
      <div align="center">
        <a href="/tutorial/paso3">
          <img src="/tutorial/anterior.gif" width="150" height="30" border="0"/>
        </a>
      </div>
    </td>
  </tr>
</table>
