<table width=882 height="40" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
    <th height="40" align="center" nowrap background="/general/barra.gif" class="Headers"><font color="#FFFFFF" face="Arial, Helvetica, sans-serif"><fondo>Cómo funciona</fondo></font></th>
  </tr>
</table>
<table width="700" height="252" border="0" align="center">
  <tr>
    <td width="350" height="277" rowspan="2" align="center" valign="top"><img src="/tutorial/paso3.gif" width="350" height="275"/>
    <td height="220" colspan="2" valign="middle" class="boldedsmallheaders">
      <font color="333399">
        Despues de coger el DVD del Kiosco usted tendrá 24 horas para disfrutarlo.
      </font> 
      <p>
        <font color="333399">
          Despues de que pasen las primeras 24 horas, usted podrá disfrutar el DVD por solo 99¢ por cada 24 horas adicionales.
        </font>
      </p>
      <p>
        <font color="333399">Si usted se queda con el DVD por mas de 29 días, CineBank le cobrará automaticamente $28.01. Usted no tendrá que devolver el DVD despues del día 29.
        </font>
      </p>
    </td>
  </tr>
  <tr>
    <td width="160" height="24" valign="middle" class="boldedsmallheaders">
      <div align="center">
        <a href="/tutorial/paso2">
          <img src="/tutorial/anterior.gif" width="150" height="30" border="0"/>
        </a>
      </div>
    </td>
    <td width="176" valign="middle" class="boldedsmallheaders">
      <div align="center">
        <a href="/tutorial/paso4">
          <img src="/tutorial/siguiente.gif" width="150" height="30" border="0">
        </a>
      </div>
    </td>
  </tr>
</table>
