<table width=882 height="40" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
    <th height="40" align="center" nowrap background="/general/barra.gif" class="Headers"><font color="#FFFFFF" face="Arial, Helvetica, sans-serif"><fondo>Nuestros kioscos</fondo></font></th>
  </tr>
</table>

<!--<table width="65" border="0" align="center" background="/tutorial/laso.gif">
  <tr>-->

      <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>jVectorMap-Beispiel</title>
		

		<script type="text/javascript">
			$(document).ready(function(){
				// Einfache Integration
				/* $("#karte").vectorMap({
					map: "beispiel_karte",
				}); */

				// Zusätzliche Einstellungen
				farben = {};
				farben["kuerzel2"] = "#db2e34";
			
				$("#karte").vectorMap({
					map: "beispiel_karte",
					backgroundColor: "white",
					colors: farben,
					hoverOpacity: 5.7,
					hoverColor: "#e50000",
					onRegionClick: function(event, code){
					  if (code == 'Cortes') {
					  //window.location.replace("http://localhost:3000");
					  window.location.replace("/cortes/index.html");
					  }
					  if (code == 'Santa Barbara') {
					    window.location.replace("/proximamente/index.html");
					  }
					  if (code == 'Santa Rosa de Copán') {
					    window.location.replace("/proximamente/index.html");
					  }
					  if (code == 'Ocotepeque') {
					    window.location.replace("/proximamente/index.html");
					  }
					  if (code == 'Lempira') {
					    window.location.replace("/proximamente/index.html");
					  }
					  if (code == 'Intibucá') {
					    window.location.replace("/proximamente/index.html");
					  }
					  if (code == 'La Paz') {
					    window.location.replace("/proximamente/index.html");
					  }
					  if (code == 'Comayagua') {
					    window.location.replace("/proximamente/index.html");
					  }
					  if (code == 'Yoro') {
					    window.location.replace("/proximamente/index.html");
					  }
					  if (code == 'Atlántida') {
					    window.location.replace("/proximamente/index.html");
					  }
					  if (code == 'Valle') {
					    window.location.replace("/proximamente/index.html");
					  }
					  if (code == 'Francisco Morazan') {
					    window.location.replace("/proximamente/index.html");
					  }
					  if (code == 'Olancho') {
					    window.location.replace("/proximamente/index.html");
					  }
					  if (code == 'Colón') {
					    window.location.replace("/proximamente/index.html");
					  }
					  if (code == 'Choluteca') {
					    window.location.replace("/proximamente/index.html");
					  }
					  if (code == 'El Paraiso') {
					    window.location.replace("/proximamente/index.html");
					  }
					  if (code == 'Gracias a Dios') {
					    window.location.replace("/proximamente/index.html");
					  }
					  if (code == 'Roatan') {
					    window.location.replace("/proximamente/index.html");
					  }
					  if (code == 'Guanaja') {
					    window.location.replace("/proximamente/index.html");
					  }
					  if (code == 'Utila') {
					    window.location.replace("/proximamente/index.html");
					  }
					},
				});
			});
		</script>
		<style type="text/css">
			#karte {
				width:885px;
				height:550px;
			}
		</style>
	</head>
	
	<body>
		<div id="karte"></div>
	</body>
</html>
<!--
   </tr>
</table> -->
